.navbar-nav {
	float: right;
	margin: 0;

}
.navbar-default {
	background-color: #a9cc58;
}
.main-container {
	height: 100%;
	width: 70%;
	text-align: justify;
}
.container-fluid {
	height: 90px;
	padding-top: 21px;
	font-size: large;
	>.hamburger-icon {
		cursor: pointer;
		> .icon {
			width: 19px;
			height: 2px;
			background-color: #fff;
			margin: 2px 0;
		}
	}
}
.text {
	margin-top: 3em;
}
.search-container {
	border: 2px;
	border-radius: 4px;
	padding: 11px;	
	margin-top: 5px;
}
.search-input {
	width: 100px;
	box-sizing: border-box;
	font-size: 15px;
	background-color: white;
	display: inline;
	float: right;
	margin-top: -4px;
	position: relative;
	padding-left: 23px;
}
input {
	height: 30px;
	margin: 0;
	padding-left: 30px;

}
input.search-input::-webkit-input-placeholder {
	text-align: center;
}
.search-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 20px;
	height:20px;
}
.search-input:focus {
	 width: 100%;
}
.map-view-container {
	height: 468px;
	width: 97%;
	border: 1px solid black;
	margin: 17px;
}
.flex-container {
	display: flex;
	width: 100%;
	height: 400px;
	background-color: #fff;
	justify-content: center;
} 
.flex-item {
	width: 267px;
	height:300px;
	border:1px solid #000;
	float: left;
	border-radius: 2px;
	margin: 21px;
}
.flex-item a {
	padding: 5px 7px;
	border: 1px solid #000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	margin: -140px 0px 0px 15px;
	display: inline-block;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	position: absolute;
	z-index: 10000;
}
.flex-item .overlay {
	width: 267px;
	height: 300px;
	background: #fff;
	margin: -300px 0px 0px 0px;
	opacity: 0.5;
}
.flex-item:hover {
	box-shadow:0px 0px 10px #6A6A6A;
	border:1px solid #00DFDF;
	//transition: all 0.5s ease-in-out;
}
.flex-item .overlay:hover {
	opacity: 0.1;
	transition: all 0.5s ease-in-out;
	width: 267px;
	float: right;
	margin-left: 50px;
}
.flex-item:hover a {
	opacity: 1;
	background: #ffffff;
	color: #000000;
	margin: -40px 0px 0px 15px;
	border-radius: 1px;
}
.footer {
	background-color: #2f2f2f;
	height: 60px;
	width: 100%
}
.v-flex .hamburger-icon {
	width: 50px;
    height: 40px;
    display: inline;
    float: left;
    margin-top: 26px;
    margin-left: 6px;
}
.navbar-brand {
	margin-left: 40px;
}