.navbar-nav {
	float: right;
	margin: 0;
}
.main-container {
	height: 100%;
	width: 70%;
	text-align: justify;
}
.text {
	margin-top: 3em;
}
.search-container {
	border: 2px;
	border-radius: 4px;
	padding: 11px;	
	margin-top: 5px;
}
.search-input {
	width: 100px;
	box-sizing: border-box;
	font-size: 15px;
	background-color: white;
	display: inline;
	float: right;
	margin-top: -4px;
	position: relative;
	padding-left: 23px;
}
input {
	height: 30px;
	margin: 0;
	padding-left: 30px;

}
input.search-input::-webkit-input-placeholder {
	text-align: center;
}
.search-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 20px;
	height:20px;
}
.search-input:focus {
	 width: 100%;
}