.navbar {
	margin-bottom: 0;
}
.navbar-nav {
	float: right;
	margin: 0;
}
.navbar-brand {
	font-family: Pacifico;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	margin-left: 40px;
	margin-bottom: 5px;
}
.navbar-default {
	background-color: #a9cc58;
	margin-bottom: 20px;
}
.main-container {
	height: 100%;
	width: 70%;
	text-align: justify;
	position: relative;
}
.container-fluid {
	height: 90px;
	padding-top: 21px;
	font-size: large;
}
.hamburger-icon {
	display: flex;
	flex-direction: column;
	cursor: pointer;
	float: left;
	margin: 7px 10px 0 0;
	.icon {
		width: 19px;
		height: 2px;
		background-color: #fff;
		margin: 2px 0;
	}
}
.text {
	margin-top: 3em;
}
.search-container {
	border: 2px;
	border-radius: 4px;
	padding: 11px;	
	margin-top: 5px;
}
.search-input {
	width: 100px;
	box-sizing: border-box;
	font-size: 15px;
	background-color: white;
	display: inline;
	float: right;
	margin-top: -4px;
	position: relative;
	padding-left: 23px;
}
input {
	height: 30px;
	margin: 0;
	padding-left: 30px;

}
input.search-input::-webkit-input-placeholder {
	text-align: center;
}
.search-image {
	position: absolute;
	bottom: 15px;
	left: 15px;
	width: 20px;
	height:20px;
}
.search-input:focus {
	 width: 100%;
}
.map-view-container {
	height: 468px;
	width: 97%;
	border: 1px solid black;
	margin: auto;
}
.flex-container {
	display: flex;
	width: 100%;
	height: 400px;
	background-color: #fff;
	justify-content: center;
} 
.flex-item {
	width: 267px;
	height:300px;
	border:1px solid #000;
	float: left;
	border-radius: 2px;
	margin: 21px;
}
.flex-item a {
	padding: 5px 7px;
	border: 1px solid #000;
	text-decoration: none;
	font-family: sans-serif;
	font-size: 14px;
	margin: -140px 0px 0px 15px;
	display: inline-block;
	opacity: 0;
	transition: all 0.5s ease-in-out;
	cursor: pointer;
	position: absolute;
	z-index: 10000;
}
.flex-item .overlay {
	width: 267px;
	height: 300px;
	background: #fff;
	margin: -300px 0px 0px 0px;
	opacity: 0.5;
}
.flex-item:hover {
	box-shadow:0px 0px 10px #6A6A6A;
	border:1px solid #00DFDF;
	//transition: all 0.5s ease-in-out;
}
.flex-item .overlay:hover {
	opacity: 0.1;
	transition: all 0.5s ease-in-out;
	width: 267px;
	float: right;
	margin-left: 50px;
}
.flex-item:hover a {
	opacity: 1;
	background: #ffffff;
	color: #000000;
	margin: -40px 0px 0px 15px;
	border-radius: 1px;
}
.footer {
	background-color: #2f2f2f;
	height: 60px;
	width: 100%;
	position: absolute;
	margin-top: 5px;
}
.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align:center;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
	color: #029f5b;
	font-size: 18px;
}
.panel-login>.panel-heading hr{
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
	background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.panel-login input:hover,
.panel-login input:focus {
	outline:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}
.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}
.btn-login:hover,
.btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}
.forgot-password {
	text-decoration: underline;
	color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}
